@require '~tachyons/css/tachyons.min.css'
@require '~ipfs-css/ipfs.css'

a, a.button-secondary {
color: #3e9096;
}

a:hover {
text-decoration: underline;
}

a.button-primary {
color: #ffffff;
}

a.button-primary:hover, a.button-secondary:hover {
text-decoration: none;
}

h1, h2 {
font-family: 'Montserrat', 'Verdana', system-ui, sans-serif;
}
